---
networks:
  public:
    external: true

services:
  vaultwarden:
    container_name: 'vaultwarden'
    environment:
      DOMAIN: "https://{{ vaultwarden_domain }}{{ vaultwarden_path }}/"
    healthcheck:
      interval: '1m'
      retries: 3
      test: '/healthcheck.sh'
      timeout: '5s'
    hostname: 'vaultwarden'
    image: 'vaultwarden/server:latest'
    labels:
      com.centurylinklabs.watchtower.enable: true
      homepage.name: 'VaultWarden'
      homepage.group: 'Services'
      homepage.description: 'Password manager'
      homepage.icon: '/icons/vaultwarden.png'
      homepage.href: "https://{{ vaultwarden_domain }}{{ vaultwarden_path }}/"
      traefik.enable: true
      traefik.http.routers.vaultwarden.rule: "Host(`{{ vaultwarden_domain }}`) && PathPrefix(`{{ vaultwarden_path }}/`)"
      traefik.http.routers.vaultwarden.entrypoints: 'https'
      traefik.http.routers.vaultwarden.service: 'vaultwarden'
      traefik.http.services.vaultwarden.loadbalancer.server.port: 80
    logging:
      driver: 'json-file'
      options:
        max-file: 1
        max-size: '10m'
    networks:
      - 'public'
    restart: 'unless-stopped'
    security_opt:
      - 'no-new-privileges'
    volumes:
      - '{{ path_data }}/vaultwarden:/data:rw'
...
