---
services:
  watchtower:
    container_name: 'watchtower'
    hostname: 'watchtower'
    image: 'containrrr/watchtower:latest'
    security_opt:
      - 'no-new-privileges'
    cap_drop:
      - 'ALL'
    restart: 'unless-stopped'
    logging:
      driver: 'json-file'
      options:
        max-file: 1
        max-size: '10m'
    healthcheck:
      test: [ 'CMD', '/watchtower', '--health-check' ]
      interval: '1m'
      timeout: '5s'
      retries: 3
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:rw'
    labels:
      com.centurylinklabs.watchtower.enable: true
      homepage.name: 'WatchTower'
      homepage.group: 'Services'
      homepage.description: 'Container updates'
      homepage.icon: '/icons/watchtower.png'
    command: "--cleanup --label-enable --remove-volumes --schedule '{{ watchtower_cron }}'"
...
